<section>
    <div class="row">
        <div class="container">
            <h1>Your order placed succesfully</h1>
            <br>
            <a href="/orders" class="btn btn-primary">View Orders</a>
        </div>
    </div>
</section>